.main_container {
  display: flex;
  grid-area: container;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5% 3%;
  overflow-y: scroll;
  /*margin-top: -3rem;*/
}

.main_container.discreet_theme {
  background-color: rgba(var(--dark-blue));
}

#layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  display: -ms-grid;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  grid-template-rows: 7% 93%;
  -ms-grid-rows: 7% auto;
}

#layout.sidebar_hidden {
  grid-template-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-areas:
    'header'
    'container';
}

#layout.sidebar_display {
  grid-template-columns: 15% auto;
  -ms-grid-columns: 15% auto;
  grid-template-areas:
    'header header'
    'sidebar container';
}

#header {
  grid-area: header;
  background-color: rgba(var(--dark-blue));
  color: rgba(var(--discreet-white));
  -webkit-box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.55);
}

#header.discreet_theme {
  background-color: rgba(var(--discreet-white));
  color: rgba(var(--dark-blue));
}

#header > div {
  position: relative;
  top: 15%;
  height: 70%;
}

#header > div > div.row,
#header > div > div > div {
  display: flex;
  height: 100%;
}

div.input-group > input {
  border-color: rgba(var(--dark-blue));
}

div.input-group.blue_theme > input {
  border-color: rgba(var(--discreet-white));
}

div.input-group > button {
  border-color: rgba(var(--discreet-white));
  color: rgba(var(--discreet-white));
}

div.input-group.discreet_theme > button {
  border-color: rgba(var(--dark-blue));
  color: rgba(var(--dark-blue));
}

#theme_selector {
  position: relative;
  height: 52%;
  width: 20%;
  border: solid 1px;
  border-radius: 20px;
  cursor: pointer;
}

#theme_selector.btn.btn-outline-secondary:hover {
  background-color: transparent !important;
}

#theme_selector.blue_theme {
  border-color: rgba(var(--discreet-white));
  color: rgba(var(--discreet-white));
}

#theme_selector.discreet_theme {
  border-color: rgba(var(--dark-blue));
  color: rgba(var(--dark-blue));
}

#theme_selector:after {
  content: '';
  position: absolute;
  top: 10%;
  height: 80%;
  width: 35%;
  background-color: #8e8e8e;
  border-radius: 20px;
}

#theme_selector.discreet_theme:after {
  right: 2.5%;
}
#theme_selector.blue_theme:after {
  left: 3.5%;
}

figure.blue_theme > svg.menu_svg {
  cursor: pointer;
  fill: rgba(var(--discreet-white));
}

figure.discreet_theme > svg.menu_svg {
  cursor: pointer;
  fill: rgba(var(--dark-blue));
}

#sidebar {
  grid-area: sidebar;
  background-color: rgba(var(--dark-blue), 0.7);
  color: rgba(var(--discreet-white));
  padding: 10% 2%;
}

#sidebar.discreet_theme {
  background-color: rgba(var(--discreet-white), 0.7);
}

#sidebar.discreet_theme > div > div > div > button {
  color: rgba(var(--dark-blue));
}

.sidebar_col {
  margin: 10px 0px;
}

.sidebar_btn {
  position: relative;
  width: 100%;
  text-align: left;
  background: transparent;
  border-style: none;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.55);
  color: rgba(var(--discreet-white));
  padding: 7% 10%;
  transition: ease-out 0.2s;
}

.sidebar_btn:hover {
  bottom: 3px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.55);
}

.sidebar_btn:active {
  background-color: rgba(var(--discreet-white));
  color: rgba(var(--dark-blue));
}
