html {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0 0 0 0%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(
    120deg,
    #eea2a2 0,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  background-size: 400% 400%;
  background-position: var(--bg-position);
  transition: background-position 2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.separator::before {
  content: '•';
  color: white;
  padding: 0.4rem;
}

figure {
  margin: 0 0 0rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:active {
  color: blueviolet;
}

h2.discreet_theme,
h4.discreet_theme,
p.discreet_theme {
  color: rgba(var(--discreet-white));
}

:root {
  --wine: #8c0034;
  --discreet-white: 255, 245, 247;
  --dark-blue: 47, 70, 102;
  --light-purple: #623268;
  --dark-purple: #443f6d;
  --indigo-blue: 18, 166, 154;
}

.section {
  height: 100%;
  width: 100%;
}
